name: Run Vitest in Backend

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  vitest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.1"
      - name: Install dependencies
        run: npm ci

      - name: Install Flyway
        run: |
          curl -L https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/10.8.1/flyway-commandline-10.8.1-linux-x64.tar.gz | tar xz
          sudo ln -s $PWD/flyway-10.8.1/flyway /usr/local/bin/flyway

      - name: Run Vitest
        run: npx vitest run --reporter=github-actions
